* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  }

  .container {
    width: 50%;
    display: flexbox;
    justify-content: center;
    align-items: center;

  }
  .card {
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 31rem;
    border-radius: 30px;
    
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 5px 50px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
  }
  
  .sneaker {
    min-height: 30vh;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  .sneaker img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
    border-radius: 50%;
    margin: 7%;
  }
  .sneaker2 {
    min-height: 30vh;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  .sneaker2 img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
    border-radius: 50%;
    margin: 7%;
  }
  .circle {
    width: 10rem;
    height: 10rem;
    background: linear-gradient(
      to right,
      rgba(87, 245, 66, 0.75),
      rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  .circle2 {
    width: 10rem;
    height: 10rem;
    background: linear-gradient(
      to right,
      rgba(87, 245, 66, 0.75),
      rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  .info {
      width: 500px;
      margin-top: 50%;				/* Décalage avec des marges */
	  margin-left: 50%;
	  transform:translate(-50%,-50%);	/* Décalage avec translate */
	  text-align: center;
      padding-top: 50%;
  }
 .title {
    font-size: 1.2em;
    width: 500px;
    text-align: center;
    transition: all 0.75s ease-out;
    
  }
  .title h1 {
    font-size: 0.9em;
    transition: all 0.75s ease-out;
  }
  .sous-titre {
    font-size: 1rem;
    padding: 0%;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }
  .sous-titre h2{
    font-size: 0.5rem;
    padding: 0%;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }
  
  .sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
  }
  button.active {
    background: #585858;
    color: white;
  }
  .purchase {
    margin-top: 1rem;
    transition: all 0.75s ease-out;
  }
  .purchase button {
    width: 30%;
    padding: 1rem 0rem;
    background: #af8453;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
  }
 #PP {font-family: Arial, Helvetica, sans-serif;}
 
  * {box-sizing: border-box;}
  
  /* Button used to open the contact form - fixed at the bottom of the page */
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }